<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div th:if="${orders.isEmpty()}">
                        <h1 class="display-5" th:text="#{orders.empty}"></h1>
                    </div>
                    <div th:unless="${orders.isEmpty()}">
                        <h1 class="display-5" th:text="#{orders.header}"></h1>
                    </div>
                </div>
                <div class="card-body">
                    <form class="form-inline mb-2"
                          th:object="${discount}"
                          th:action="@{/tours/orders/set-discount}"
                          th:method="post">
                        <div class="form-group mb-1">
                            <label>
                                <span th:text="#{orders.discount.step}"></span>
                                <input type="text"
                                       th:field="*{step}"
                                       th:placeholder="${discount.step}"
                                       class="form-control mx-2"
                                       required/>
                                <span th:if="${#fields.hasErrors('step')}"
                                      th:errors="*{step}"
                                      class="text-danger"></span>
                            </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-1">
                            <label>
                                <span th:text="#{orders.discount.threshold}"></span>
                                <input type="text"
                                       th:field="*{threshold}"
                                       th:placeholder="${discount.threshold}"
                                       class="form-control mx-2"
                                       required/>
                                <span th:if="${#fields.hasErrors('threshold')}"
                                      th:errors="*{threshold}"
                                      class="text-danger"></span>
                            </label>
                        </div>
                        <input class="btn btn-primary mb-1" th:value="#{orders.discount.button.submit}" type="submit">
                    </form>
                    <table th:unless="${orders.isEmpty()}" class="table table-striped">
                        <thead>
                        <tr>
                            <th th:include="~{/fragments/sortable_column.html::sortable_column(url='/tours/orders',page=${orders},column='id',column_text=#{orders.id})}"></th>
                            <th th:include="~{/fragments/sortable_column.html::sortable_column(url='/tours/orders',page=${orders},column='tour',column_text=#{orders.tour})}"></th>
                            <th th:include="~{/fragments/sortable_column.html::sortable_column(url='/tours/orders',page=${orders},column='user',column_text=#{orders.user})}"></th>
                            <th th:include="~{/fragments/sortable_column.html::sortable_column(url='/tours/orders',page=${orders},column='price',column_text=#{orders.price})}"></th>
                            <th th:include="~{/fragments/sortable_column.html::sortable_column(url='/tours/orders',page=${orders},column='discount',column_text=#{orders.discount})}"></th>
                            <th th:include="~{/fragments/sortable_column.html::sortable_column(url='/tours/orders',page=${orders},column='fixedPrice',column_text=#{orders.fixed_price})}"></th>
                            <th th:include="~{/fragments/sortable_column.html::sortable_column(url='/tours/orders',page=${orders},column='status',column_text=#{orders.status})}" class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td><span th:text="${order.id}"></span></td>
                            <td><a href="#tourDetailsModal" data-toggle="modal"
                                   data-target="#tourDetailsModal"
                                   th:attrappend="data-target=${order.tour.id}"
                                   th:text="${order.tour.name}"></a></td>
                            <!--Start of tour modal window-->
                            <div aria-hidden="true"
                                 aria-labelledby="tourDetailsModalTitle"
                                 class="modal fade"
                                 id="tourDetailsModal" role="dialog" tabindex="-1"
                                 th:attrappend="id=${order.tour.id}">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title lead" id="tourDetailsModalTitle"
                                                th:text="#{tours.modal.title}">
                                            </h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>
                                                        <span th:text="${order.tour.name}"></span>
                                                    </h3>
                                                </div>
                                                <div class="card-body">
                                                    <div class="card-text">
                                                        <span class="text-primary" th:text="#{tours.modal.type}"></span>
                                                        <span class="" th:text="${order.tour.type}"></span>
                                                    </div>
                                                    <div class="card-text">
                                                        <span class="text-primary"
                                                              th:text="#{tours.modal.price}"></span>
                                                        <span th:text="${#numbers.formatDecimal(order.tour.price,1,1)}"></span>
                                                    </div>
                                                    <div class="card-text">
                                                        <span class="text-primary"
                                                              th:text="#{tours.modal.group_size}"></span>
                                                        <span class="" th:text="${order.tour.groupSize}"></span>
                                                    </div>
                                                    <div class="card-text">
                                                        <span class="text-primary"
                                                              th:text="#{tours.modal.hotel}"></span>
                                                        <span class="" th:text="${order.tour.hotel}"></span>
                                                    </div>
                                                    <div class="card-text">
                                                        <span class="text-primary"
                                                              th:text="#{tours.modal.description}"></span>
                                                        <span class="font-italic" th:text="${order.tour.description}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger"
                                               th:href="@{/tours/orders/delete/{id}(id=${order.id},page=${orders.number},size=${orders.size},sort=${orders.sort.toString().replaceAll(': ',',')})}"
                                               th:text="#{orders.tour.modal.status.button.delete_order}">
                                            </a>
                                            <button class="btn btn-secondary" data-dismiss="modal"
                                                    th:text="#{tours.modal.button.close}"
                                                    type="button">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of tour modal window-->
                            <td><a href="#userDetailsModal" data-toggle="modal"
                                   data-target="#userDetailsModal"
                                   th:attrappend="data-target=${order.user.id}"
                                   th:text="${order.user.username}"></a></td>
                            <!--Start of user modal window-->
                            <div aria-hidden="true"
                                 aria-labelledby="userDetailsModalTitle"
                                 class="modal fade"
                                 id="userDetailsModal" role="dialog" tabindex="-1"
                                 th:attrappend="id=${order.user.id}">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title lead" id="userDetailsModalTitle"
                                                th:text="#{users.modal.title}">
                                            </h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>
                                                        <span th:text="${order.user.username}"></span>
                                                    </h3>
                                                </div>
                                                <div class="card-body">
                                                    <div class="card-text">
                                                        <span class="text-primary" th:text="#{users.profile.full_name}"></span>
                                                        <span class="" th:text="${order.user.fullName}"></span>
                                                    </div>
                                                    <div class="card-text">
                                                        <span class="text-primary" th:text="#{users.profile.email}"></span>
                                                        <span class="" th:text="${order.user.email}"></span>
                                                    </div>
                                                    <div class="card-text">
                                                        <span class="text-primary" th:text="#{users.profile.bio}"></span>
                                                        <span class="" th:text="${order.user.bio}"></span>
                                                    </div>
                                                    <div class="card-text">
                                                        <span class="text-primary" th:text="#{users.profile.orders.discount}"></span>
                                                        <span class="" th:text="${order.user.currentDiscount}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal"
                                                    th:text="#{tours.modal.button.close}"
                                                    type="button">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of user modal window-->
                            <td><span th:text="${#numbers.formatDecimal(order.price,1,1)}"></span></td>
                            <td><span th:text="${#numbers.formatDecimal(order.discount,1,1)}"></span></td>
                            <td><span th:text="${#numbers.formatDecimal(order.fixedPrice,1,1)}"></span></td>
                            <td style="width: 25%">
                                <div class="btn-group btn-block" th:if="${order.isPending()}">
                                    <a class="btn btn-outline-success"
                                       th:href="@{/tours/orders/mark-paid/{id}(id=${order.id},page=${orders.number},size=${orders.size},sort=${orders.sort.toString().replaceAll(': ',',')})}"
                                       th:text="#{orders.status.button.mark_paid}">
                                    </a>
                                    <a class="btn btn-outline-danger"
                                       th:href="@{/tours/orders/mark-denied/{id}(id=${order.id},page=${orders.number},size=${orders.size},sort=${orders.sort.toString().replaceAll(': ',',')})}"
                                       th:text="#{orders.status.button.mark_denied}">
                                    </a>
                                </div>
                                <button class="btn btn-success btn-block"
                                   th:if="${order.isPaid()}"
                                   th:text="#{orders.status.button.mark_paid}"
                                   th:disabled="true">
                                </button>
                                <button class="btn btn-danger btn-block"
                                   th:if="${order.isDenied()}"
                                   th:text="#{orders.status.button.mark_denied}"
                                   th:disabled="true">
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"
                     th:include="~{/fragments/pagination.html::page-navigation(url='/tours/orders',page=${orders})}">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>